<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
      <ion-title>Name Update</ion-title> 
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h4>Current Username: {{username}}</h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input [(ngModel)]="username" placeholder="Enter Name"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button round (click)="saveName()">Save Name</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>